# Binaries
**/bin/
**/bin-int/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.idb

# Directories
Hazel/vendor
Hazelnut/assets/cache
scripts/__pycache__

#submodules
Hazel/vendor