[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Hazel/vendor/glm"]
	path = Hazel/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Hazel/vendor/imgui"]
	path = Hazel/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Hazel/vendor/yaml-cpp"]
	path = Hazel/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
[submodule "Hazel/vendor/imguizmo"]
	path = Hazel/vendor/imguizmo
	url = https://github.com/TheCherno/imguizmo
[submodule "Hazel/vendor/shaderc"]
	path = Hazel/vendor/shaderc
	url = https://github.com/google/shaderc
[submodule "Hazel/vendor/SPIRV-Cross"]
	path = Hazel/vendor/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "Hazel/vendor/box2d"]
	path = Hazel/vendor/box2d
	url = https://github.com/TheCherno/box2d
